.detail_overlay {
	bottom: 0;
	background-color: rgb(111, 212, 191, 0.7);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
.detail_overlay .detail_container {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0px 5px 25px 5px #65c5ba;
	display: block;
	left: 50%;
	margin: -75px 0 0 -200px;
	padding: 20px 20px 40px;
	position: fixed;
	top: 50%;
	width: 400px;
}
.detail_overlay .detail_container h3 {
	background-color: #90e0d2;
	border: 1px solid #6cd0bd;
	border-radius: 2px;
	line-height: 1.1;
	padding: 10px;
	transition: 0.5s;
}
.detail_overlay .detail_container h3.deactivated {
	background-color: #DDD;
	border-color: #BBB;
	color: #BBB;
}
.detail_overlay .detail_container small {
	font-size: 1.2em;
	color: #999;
}
@media (max-width: 620px){
	.detail_overlay .detail_container {
		left: 10px;
    margin-left: 0;
    right: 10px;
    width: auto;
	}
	.detail_overlay .detail_container h3 {
		font-size: 1.4em;
	}
}
