.shortlist ul,
.shortlist li {
}
.shortlist ul{
	list-style: none;
	overflow: auto;
	max-height: 200px;
	margin: 0 0 20px;
	padding: 0;
}
.shortlist li {
	border-bottom: 1px solid #7ae3c4;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	line-height: 2.5;
	list-style: none;
	overflow: hidden;
	padding: 0 70px 0 0;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.shortlist li small{
	font-size: 0.7em;
	color: #999;
}
.shortlist li:first-child {
	border-top: 1px solid #7ae3c4;
}
.shortlist .switch {
	position: absolute;
	top: 11px;
	right: 10px;
}