<div class="shortlist">
	<ul>
		<li *ngFor="let url of urlList" [class.deactivated]="!url.active">
			<span (click)="setActive(url)">{{ url.shorten }}</span>
			<small>{{ url.url }}</small>
			<button class="switch" [class.active]="url.active" (click)="onToggle(url)"></button>
		</li>
		<li *ngIf="!urlList.length" style="text-align: center; padding: 0">
			<span>Looks like there's nothing here.</span>
		</li>
	</ul>
	<div class="btn_group">
		<button class="btn" routerLink="/">Shortener</button>
	</div>
		
	
	<app-short-details [url]="activeURL" (onDelete)="onDelete()" (onToggle)="onToggle()" (onCloseDetails)="onCloseDetails()"></app-short-details>
</div>